@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
.kb {
  animation: kenburns 12s ease-in-out infinite alternate;
  transform-origin: center;
}
@keyframes kenburns {
  from { transform: scale(1) translate(0,0); }
  to { transform: scale(1.08) translate(-1.5%, -1.5%); }
}
